* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-color {
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(1px);
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("image.jpg") center/cover;
}

.img-color-1 {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.img-user {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
}

hr {
  width: 100%;
  color: white;
  border-color: rgb(255, 255, 255);
  border-radius: 1px;
}
.con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 12px;
}

.cards {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  background-color: rgba(0, 255, 255, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
  border-radius: 6px;
  gap: 10px;
  border: 0.1px solid transparent;
  transition: 0.5s;
}

.card:hover {
  background-color: rgba(0, 255, 255, 0.35);
  border: 0.1px solid rgba(0, 255, 255, 0.5);
}

.icon {
  background-color: black;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
